= render 'homes/header'
.talent-show-wrapper
  .talent-show-wrapper__contents
    .talent-show-wrapper__contents__left
      = render 'show_left'
    .talent-show-wrapper__contents__right
      = render 'show_right'
  .talent-show-wrapper__media-contents
    = render 'show_media'
  .talent-show-wrapper__return-talents
    = link_to talents_path, class: "btn-talents" do
      タレント一覧へ
= render 'homes/footer'