.header
  .header__block
    = link_to "", root_path, class: "header__block__logo"
    .header__block__list
      = link_to "talent", talents_path, class: "header__block__list__talent", id: "header_li"
      = link_to "news", news_index_path, class: "header__block__list__news",id: "header_li"
      = link_to "audition", audition_index_path, class: "header__block__list__audition",id: "header_li"
      = link_to "company", company_index_path, class: "header__block__list__company",id: "header_li"
      = link_to "contact", contact_index_path, class: "header__block__list__contact",id: "header_li"