.home_contents
  .home_contents__box
    .home_contents__box__left
      = render 'audition_block'
      = render 'menu-side-container'
      = render 'twitter_timeline'
    .home_contents__box__right
      = render 'home_contents-slide'
      = render 'home_contents-news'

