.menu-side-container
  = link_to news_index_path, class: "btn-menu-side-container" do
    .menu-side-container__box
      .menu-side-container__box__new
        = icon('far', 'newspaper')
        News
      .menu-side-container__box__icon
        = icon('fas', 'chevron-right')
  = link_to company_index_path, class: "btn-menu-side-container" do
    .menu-side-container__box
      .menu-side-container__box__new
        = icon('far', 'building')
        Company Profile
      .menu-side-container__box__icon
        = icon('fas', 'chevron-right')
  = link_to audition_index_path, class: "btn-menu-side-container" do
    .menu-side-container__box
      .menu-side-container__box__new
        = icon('far', 'file-alt')
        Audition
      .menu-side-container__box__icon
        = icon('fas', 'chevron-right')
  -# = link_to "#", class: "btn-menu-side-container" do
  -#   .menu-side-container__box
  -#     .menu-side-container__box__new
  -#       = icon('far', 'user')
  -#       Recruit
  -#     .menu-side-container__box__icon
  -#       = icon('fas', 'chevron-right')